<div class="footer-body">
  <div class="footer-inner">
    <div class="inner-left">
      <a routerLink="/imprint">Imprint</a> - Legal Notice
    </div>

    <div class="inner-right">
      <a target="#" href="https://www.linkedin.com/in/maik-langer-7a443a23b/">
        <img src="/assets/img/socials/linkedin.png" alt=""
      /></a>
      <a target="#" href="https://github.com/MaikroX">
        <img src="/assets/img/socials/github.png" alt=""
      /></a>
      <a target="#" href="https://www.xing.com/profile/Maik_Langer086141/cv"
        ><img src="/assets/img/socials/xing.png" alt=""
      /></a>
    </div>
  </div>
</div>
