.footer-body {
  background-color: white;
}

.footer-inner {
  display: flex;
  min-height: 64px;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  color: rgb(132, 132, 132);
  flex-wrap: wrap;

  @media (max-width: 315px) {
    flex-direction: column;
    justify-content: center;
  }
}

.inner-right {
  min-width: 100px;
  display: flex;
  justify-content: space-between;
}

img {
  width: 32px;
  height: 32px;
}

a {
  color: rgb(132, 132, 132);
  text-decoration: none;
  width: 32px;
  height: 32px;
}
a:visited {
  color: rgb(132, 132, 132) !important;
}
