<div class="about-me-body">
  <div class="outer-contain">
    <div class="upper-contain">
      <div><img class="me" src="./assets/img/ich-frei.png" alt="" /></div>
      <div class="upper-right-side">
        <h2>About me</h2>
        <span
          >" I´m a club music enthusiast and front end developer who loves
          pushing boundaries "
        </span>
      </div>
    </div>

    <div class="downer-contain">
      <div class="downer-inner-contain">
        <img src="./assets/img/about-me-icons/walk-line.png" alt="" />

        <p>MY JOURNEY BEGAN</p>

        <p>
          as a supervisor in an agency for personnel and product services, I was
          able to supervise and develop many projects.
        </p>
      </div>

      <div class="downer-inner-contain">
        <img src="./assets/img/about-me-icons/heart-line.png" alt="" />
        <p>MY JOURNEY BEGAN</p>
        <p>
          as a supervisor in an agency for personnel and product services, I was
          able to supervise and develop many projects.
        </p>
      </div>

      <div class="downer-inner-contain">
        <img src="./assets/img/about-me-icons/search-line.png" alt="" />
        <p>MY JOURNEY BEGAN</p>
        <p>
          as a supervisor in an agency for personnel and product services, I was
          able to supervise and develop many projects.
        </p>
      </div>

      <div class="downer-inner-contain">
        <img src="./assets/img/about-me-icons/flight-takeoff-line.png" alt="" />
        <p>MY JOURNEY BEGAN</p>
        <p>
          as a supervisor in an agency for personnel and product services, I was
          able to supervise and develop many projects.
        </p>
      </div>
    </div>
  </div>
</div>
