<div class="about-me-body">
  <div class="outer-contain">
    <div class="upper-contain">
      <div><img class="me" src="./assets/img/ich-frei.png" alt="" /></div>
      <div class="upper-right-side">
        <h2>About me</h2>
        <span
          >" I´m a club music enthusiast and front end developer who loves
          pushing boundaries "
        </span>
      </div>
    </div>

    <div class="downer-contain">
      <div class="downer-inner-contain">
        <img src="./assets/img/about-me-icons/walk-line.png" alt="" />

        <p>MY JOURNEY BEGAN</p>

        <p>
          as a supervisor in an agency for personnel and product services, I was
          able to supervise and develop many projects.
        </p>
      </div>

      <div class="downer-inner-contain">
        <img src="./assets/img/about-me-icons/heart-line.png" alt="" />
        <p>I LOVE DEV</p>
        <p>
          an this deep insight into programming made me realize that I had made
          exactly the right decision. I love developing web applications and
          facing new challenges. I really found my passion! With every project I
          complete, with every new challenge I face, I always learn a little bit
          more and I never get bored. I invest a lot of time in coding and I
          love it!
        </p>
      </div>

      <div class="downer-inner-contain">
        <img src="./assets/img/about-me-icons/search-line.png" alt="" />
        <p>I SEARCHED</p>
        <p>
          the right way to move forward. At a certain point, I wanted to learn
          faster and more efficiently, so I decided to seek professional help.
          My path led me to the Developer Academy in Munich in March 2022.
          Beside my main job I learned there in shortest time the fundamental
          knowledge for the frontend web development. I completed a lot of
          different projects there, both individually and in groups.
        </p>
      </div>

      <div class="downer-inner-contain">
        <img src="./assets/img/about-me-icons/flight-takeoff-line.png" alt="" />
        <p>NEW CHALLENGES</p>
        <p>
          I would like to deepen my knowledge in the field of frontend
          development and am therefore looking for a chance to join an
          interesting team, to support this team and develop professionally as
          well as personally.
        </p>
      </div>
    </div>
  </div>
</div>
