header {
  background-color: var(--background1);
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px #fff3;

  .max-width-1000 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 160px;
    margin-right: 160px;

    @media (max-width: 1025px) {
      margin-left: 24px;
      margin-right: 24px;
    }
  }

  .my-logo {
    display: flex;
  }

  a {
    color: white;
    text-decoration: none;
    margin-left: 80px;
    width: 35px !important;

    &:first-child {
      margin-left: 0px;
    }

    &:hover {
      cursor: pointer;
      color: var(--akzent2);
    }

    &:active {
      color: var(--akzent2);
    }
  }
  img {
    width: 48px;
    cursor: pointer;
  }
}

.darkLinks {
  a {
    color: black;

    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.headerDark {
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  cursor: pointer;
  margin: 0;
  background-color: var(--background2);

  a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    border: solid 1px rgba(255, 255, 255, 0.496);
    width: 120px;
    margin: 0;

    &:hover {
      color: var(--akzent2);
    }
  }
}

@media (max-width: 915px) {
  .allLinks {
    display: none;
  }
}

button:hover {
  cursor: pointer;
}
