<header>
  <div class="max-width-1000">
    <div>
      <img routerLink="/" src="/assets/img/Logo-Platzhalter.png" alt="" />
      <!-- <img
    *ngIf="darkMode"
    routerLink="/"
    src="assets/img/logo-ml-dark.png"
    alt=""
  /> -->
    </div>

    <div class="allLinks">
      <a routerLink="/">HOME</a>
      <a href="#">MY SKILLS</a>
      <a href="#">MY WORK</a>
      <a href="#">ABOUT ME</a>

      <!-- <a routerLink="/data-protection">Data protection</a>
    <a routerLink="/imprint">Imprint</a> -->
    </div>
  </div>
</header>
