<div class="work-body">
  <div class="outer-contain">
    <h2>My work</h2>
    <div class="all-buttons">
      <button class="button">All</button><button class="button">Angular</button
      ><button class="button">JavaScript</button>
    </div>
    <div class="whole-work-contain">
      <div class="d-flex outer-contain">
        <div
          class="work-contain"
          *ngFor="let item of workImages; let i = index"
        >
          <img src="/assets/img/preview-defaults/{{ workImages[i] }} " alt="" />
          <div class="project-name">{{ projects[i] }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
