.work-body {
  background-color: var(--background1);

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    display: flex;
    justify-content: center;
    margin: 40px;
    color: white;
    font-size: 36px;
    cursor: default;
  }

  .button {
    width: 128px;
    height: 64px;
    left: 125px;
    top: 481px;
    color: white;
    background-color: #2dfcd900;
    border: 2px solid var(--akzent1);
    cursor: pointer;
  }

  .all-buttons {
    display: flex;
    justify-content: center;

    :nth-child(2) {
      margin: 0px 2px 0px 2px;
    }
  }

  .whole-work-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .outer-contain {
      max-width: 1110px;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      cursor: default;
      margin-bottom: 24px;
    }

    .work-contain {
      position: relative;
      margin: 16px;
      cursor: pointer;
    }

    img {
      width: 280px;
      height: 250px;
    }

    .project-name {
      position: absolute;
      bottom: 16px;
      left: 16px;
      color: white;
    }
  }
}
