<div class="work-body" id="work">
  <div class="outer-contain">
    <h2>My work</h2>
    <div class="all-buttons">
      <button class="button slide" (click)="allProjectsLoad()">All</button
      ><button class="button slide" (click)="angularProjectsLoad()">
        Angular</button
      ><button class="button slide" (click)="javaScriptProjectsLoad()">
        JavaScript
      </button>
    </div>
    <div class="whole-work-contain">
      <div class="d-flex outer-contain">
        <div
          class="work-contain"
          *ngFor="let item of workImages; let i = index"
        >
          <div class="works">
            <div class="no-hover">
              <img src="./assets/img/previews/{{ workImages[i] }} " alt="" />
              <div class="project-name">{{ projects[i] }}</div>
            </div>
            <div class="with-hover">
              <h3>{{ hoverHead[i] }}</h3>
              <span class="padding-info">{{ hoverInfo[i] }}</span>
              <div class="button-position">
                <a target="#" href="{{ projektLink[i] }}">
                  <button class="try-out">Try Out</button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
