.work-body {
  background-color: var(--background1);

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;

    color: white;
    font-size: 36px;
    cursor: default;
  }

  .button {
    width: 128px;
    height: 64px;
    left: 125px;
    top: 481px;
    color: white;
    background-color: #2dfcd900;
    border: 2px solid var(--akzent1);
    cursor: pointer;
  }

  .all-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    // :nth-child(2) {
    //   margin: 0px 2px 0px 2px;
    // }
    flex-wrap: wrap;
  }

  .whole-work-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .outer-contain {
      max-width: 1110px;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      cursor: default;
      margin-bottom: 64px;
    }

    .work-contain {
      position: relative;
      margin: 16px;
      cursor: pointer;
    }

    img {
      width: 280px;
      height: 186px;
    }

    .project-name {
      position: absolute;
      bottom: 4px;
      padding-left: 4px;
      padding-right: 4px;
      border-radius: 0px 2px 2px 0px;
      background-color: #19191970;
      color: white;
    }
  }
}

.works {
  position: relative;
}

.no-hover {
  width: 280px;
  height: 186px;
  cursor: default;
}

.with-hover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 280px;
  height: 186px;
  top: 0;
  color: white;
  opacity: 0;
  cursor: default;

  :last-child {
    cursor: pointer;
  }
}

.with-hover:hover {
  transition: opacity 0.25s;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.626);
  cursor: default;
}

.padding-info {
  padding-left: 24px;
  padding-right: 24px;
}

button {
  margin-top: 0px !important;
  width: 80px;
  height: 35px;
  left: 125px;
  top: 481px;
  color: #2dfcd8;
  background-color: #2dfcd900;
  border: 2px solid #2dfcd8;
  cursor: pointer;

  &:hover {
    transition: border 0.6s;
    border: 2px solid var(--akzent1);
    color: var(--akzent1);
  }
}

.button-position {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
  box-shadow: inset 20em 0 0 0 var(--hover);
  cursor: pointer;
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);

  &:hover,
  &:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
  }
}

$colors: (
  slide: #fa2759,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 0deg)};
  }
}

.slide {
  float: right;
  width: 120px;
  height: 50px;
  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: var(--akzent1);
  }
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em 0em 0.5em 0.5em;
}

.try-out {
  margin: 0px !important;
}
