.contact-me-body {
  background-color: var(--background1);
  color: white;

  .main-contain {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inner-contain {
    padding-bottom: 40px;
  }

  h2 {
    font-size: 36px;
  }

  .margin-bottom {
    margin-bottom: 32px;
    text-align: center;
  }

  .email-color {
    color: var(--akzent2);
  }

  .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

  mat-form-field {
    width: -webkit-fill-available;
    border-radius: 4px !important;

    // margin-left: 24px;
    // margin-right: 24px;
  }
}

.mdc-text-field--disabled {
  border-radius: 4px !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgb(184, 34, 34);
}

.button {
  float: right;
  width: 120px;
  height: 50px;
  left: 125px;
  top: 481px;
  color: #2dfcd8;
  background-color: #2dfcd900;
  border: 2px solid #2dfcd8;
  // border-radius: 12px;
  cursor: pointer;
}
