<div class="contact-me-body">
  <div class="main-contain">
    <div class="inner-contain">
      <h2>Contact me</h2>
      <p class="margin-bottom">
        Get in touch via the form below, or by email
        <span class="email-color">maiklanger@live.de</span>
      </p>

      <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Your Name</mat-label>
            <input
              matInput
              type="text"
              id="name"
              name="name"
              [(ngModel)]="formData.name"
              required
            />
          </mat-form-field>
        </div>

        <!-- <mat-form-field appearance="fill">
          <mat-label>Input</mat-label>
          <input matInput />
        </mat-form-field> -->

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              type="email"
              id="email"
              name="email"
              [(ngModel)]="formData.email"
              required
            />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Your Message</mat-label>
            <textarea
              matInput
              id="message"
              name="message"
              [(ngModel)]="formData.message"
              required
            ></textarea>
          </mat-form-field>
        </div>
        <button type="submit">Senden</button>
      </form>
    </div>
  </div>
</div>
