<div class="contact-me-body">
  <div class="main-contain">
    <div class="inner-contain">
      <h2>Contact me</h2>
      <p class="margin-bottom">
        Get in touch via the form below, or by email
        <span class="email-color">maiklanger@live.de</span>
      </p>
      <div class="lower-stage">
        <div>
          <!-- <p>Name</p> -->

          <mat-form-field appearance="fill">
            <mat-label>Your Name</mat-label>
            <input matInput />
          </mat-form-field>
        </div>

        <div class="example-container">
          <!-- <p>Email</p> -->
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              [formControl]="email"
              required
            />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>

        <div>
          <!-- <p>Message</p> -->

          <mat-form-field appearance="fill">
            <mat-label>Your Message</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>

        <button class="button">Send</button>
      </div>
    </div>
  </div>
</div>
