<div class="contact-me-body">
  <div class="main-contain">
    <div class="upper-stage">
      <h2>Contact me</h2>
      <p class="margin-bottom">
        Get in touch via the form below, or by email
        <span class="email-color">maiklanger@live.de</span>
      </p>
      <div class="lower-stage">
        <div>
          <p>Name</p>
          <input type="text" placeholder="Enter your name" />
        </div>
        <div>
          <p>Email adress</p>
          <input type="text" placeholder="Enter your Email adress" />
        </div>

        <p>Message</p>
        <div class="input-contain">
          <input
            class="message-box"
            type="text"
            placeholder="Enter your message"
          />
        </div>

        <!-- <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
        </form> -->
      </div>
    </div>
  </div>
</div>
