.skills-body {
  background-color: var(--background2);
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    display: flex;
    justify-content: center;
    margin: 80px;
    color: white;
    font-size: 36px;

    @media (max-width: 450px) {
      margin-bottom: 72px;
    }
  }

  .outer-contain {
    display: flex;
    // margin-top: 64px;
    width: 100%;
    max-width: 1110px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background2);
    cursor: default;
  }

  .whole-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 56px;

    .skill-contain {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      min-width: 250px;
      min-height: 150px;
      border-radius: 6px;
      margin: 24px;
      margin-top: 48px;
      backface-visibility: hidden;
      transform: translateZ(0);
    }
    .skill1 {
      animation: slideInLeft 0.35s ease-in-out;
      backface-visibility: hidden;
      transform: translateZ(0);
    }

    .skill2 {
      animation: slideInLeft 0.65s ease-in-out;
      backface-visibility: hidden;
      transform: translateZ(0);
    }
    .skill3 {
      animation: slideInLeft 0.95s ease-in-out;
      backface-visibility: hidden;
      transform: translateZ(0);
    }

    @keyframes slideInLeft {
      0% {
        transform: translateX(-1400px);
      }

      100% {
        transform: translateX(0px);
      }
    }
  }

  @media screen and (max-width: 650px) {
    .skill1,
    .skill2,
    .skill3 {
      animation: none !important;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-top: -150px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25);
    img {
      width: 50px;
      height: 50px;
    }
  }

  .skill {
    position: absolute;
  }
}

.no-flick {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
