<div class="skills-body">
  <div class="outer-contain">
    <h2>My Skills</h2>
    <div class="whole-contain">
      <div class="skill-contain">
        <div class="logo">
          <img src="/assets/img/skill-logo/javascript.png" alt="" />
        </div>
        <div class="skill"></div>
      </div>

      <div class="skill-contain">
        <div class="logo">
          <img src="/assets/img/skill-logo/angular.png" alt="" />
        </div>
        <div class="skill"></div>
      </div>

      <div class="skill-contain">
        <div class="logo">
          <img src="/assets/img/skill-logo/css.png" alt="" />
        </div>
        <div class="skill"></div>
      </div>

      <div class="skill-contain">
        <div class="logo">
          <img src="/assets/img/skill-logo/css.png" alt="" />
        </div>
        <div class="skill"></div>
      </div>

      <div class="skill-contain">
        <div class="logo">
          <img src="/assets/img/skill-logo/css.png" alt="" />
        </div>
        <div class="skill"></div>
      </div>

      <div class="skill-contain">
        <div class="logo">
          <img src="/assets/img/skill-logo/css.png" alt="" />
        </div>
        <div class="skill"></div>
      </div>

      <div class="skill-contain">
        <div class="logo">
          <img src="/assets/img/skill-logo/css.png" alt="" />
        </div>
        <div class="skill"></div>
      </div>

      <div class="skill-contain">
        <div class="logo">
          <img src="/assets/img/skill-logo/css.png" alt="" />
        </div>
        <div class="skill"></div>
      </div>

      <div class="skill-contain">
        <div class="logo">
          <img src="/assets/img/skill-logo/css.png" alt="" />
        </div>
        <div class="skill"></div>
      </div>
    </div>
  </div>
</div>
