.contain {
  background-color: var(--background2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  text-align: center;
  color: white;
}
