body {
  background-color: var(--background2);
}

.data-protection-body {
  display: flex;
  justify-content: center;
}

.contain {
  background-color: var(--background2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  flex-direction: column;
  text-align: center;
  color: white;
  cursor: default;
}

a {
  text-decoration: none;

  &:visited {
    color: white;
  }

  &:hover {
    color: var(--akzent2);
  }
}

.index-link {
  color: white;
}
