html {
  scroll-behavior: smooth !important;
}

:root {
  --background1: #000000;
  --background2: #131111;
  --akzent1: #fa2759;
  --akzent2: #2dfcd8;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-flex {
  display: flex;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-text-field {
  border-radius: 4px;
}

.mat-button {
  display: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  background-color: #13111100 !important;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 12px;
  right: 12px;
}

@media (max-width: 916px) {
  .mat-button {
    display: flex;
  }
}

@media (min-width: 916px) {
  .mat-mdc-menu-panel {
    display: none;
  }
}

.mat-mdc-menu-panel {
  background-color: #13111100;
  border-radius: 8px;

  margin: 0px;
}

.mat-mdc-menu-content {
  padding-top: 14px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

h2 {
  @media (max-width: 450px) {
    text-align: center;
    line-height: 50px;
    text-align: center !important;
    // margin: 40px !important;
  }
}

h1 {
  @media (max-width: 450px) {
    // line-height: 40px !important;
  }
}

.mat-mdc-menu-panel {
  position: absolute !important;
  right: 31px !important;
}

.cdk-overlay-pane {
  position: absolute !important;
  right: -30px !important;
}

.ng-star-inserted {
  -webkit-transform: translate3d(0, 0, 0);
}

.mat-mdc-menu-panel {
  border-radius: 0px;
  background-color: #2dfcd900;
}
