<div class="main-contain" id="home">
  <div class="inner-contain">
    <div class="home-left">
      <h1>
        Hi,
        <br />
        I´m <span class="highlight1"> Maik</span> Langer
        <br />
        Front End develop<span class="highlight1">e</span>r
      </h1>

      <a href="#mailMe">
        <button class="slide">
          <span class="contact-me">Contact me</span>
        </button></a
      >
    </div>
    <div class="home-right">
      <img class="profil" src="/assets/img/ich-frei.png" alt="" />
    </div>

    <a href="#skills" class="arrow-down">
      <img src="/assets/img/arrows/arrow-down.png" alt=""
    /></a>
  </div>
</div>
