.main-contain {
  //   padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--background1);

  .inner-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
  }

  .home-left {
    // margin-left: 160px;
    h1 {
      color: white;
      font-size: 64px;
      line-height: 90px;
      cursor: default;
    }

    .highlight1 {
      color: var(--akzent1);
    }

    .button {
      width: 300.52px;
      height: 78px;
      left: 125px;
      top: 481px;
      color: #2dfcd8;
      background-color: #2dfcd900;
      border: 2px solid #2dfcd8;
      // border-radius: 12px;
      cursor: pointer;
    }
  }

  .home-right {
    .profil {
      // margin-right: 160px;
      width: 350px;
      height: 350px;
      border-radius: 100%;
      background-color: var(--akzent2);
    }
  }

  .contact-me {
    font-size: 16px;
  }

  .arrow-down {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 32px;
    width: 50px;
    cursor: pointer;
  }
}

/*
  https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
  box-shadow: [inset?] [top] [left] [blur] [size] [color];

  Tips:
    - We're setting all the blurs to 0 since we want a solid fill.
    - Add the inset keyword so the box-shadow is on the inside of the element
    - Animating the inset shadow on hover looks like the element is filling in from whatever side you specify ([top] and [left] accept negative values to become [bottom] and [right])
    - Multiple shadows can be stacked
    - If you're animating multiple shadows, be sure to keep the same number of shadows on hover/focus as non-hover/focus (even if you have to create a transparent shadow) so the animation is smooth. Otherwise, you'll get something choppy.
*/

// Animate the size, inside
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

// Animate the size, outside
.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

// Stack multiple shadows, one from the left, the other from the right
.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

// Size can also be negative; see how it's smaller than the element
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

// Animating from the bottom
.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

// And from the left
.slide:hover,
.slide:focus {
  box-shadow: inset 20em 0 0 0 var(--hover);
}

// Multiple shadows, one on the outside, another on the inside
.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);

  &:hover,
  &:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
  }
}

$colors: (
  slide: #2dfcd8,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 0deg)};
  }
}

button {
  color: var(--color);
  transition: 0.25s;
  width: 250px;
  height: 78px;
  &:hover,
  &:focus {
    border-color: var(--hover);
    color: #fff;
  }
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}
