.main-contain {
  //   padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--background1);

  @media (max-width: 665px) {
    align-items: start;
  }

  .inner-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    margin-left: 24px;
    margin-right: 24px;

    @media (max-height: 420px) {
      flex-direction: row !important;
    }

    @media (max-width: 965px) {
      display: flex;
      flex-direction: column-reverse;
      padding-top: 72px;
    }

    @media (max-width: 665px) {
      padding-top: 120px;
    }

    @media (min-height: 1150px) {
      padding-top: 0px;
    }
  }

  .home-left {
    // margin-left: 160px;
    h1 {
      color: white;
      font-size: 64px;
      line-height: 90px;
      cursor: default;

      @media (max-width: 1665px) {
        line-height: 64px;
      }

      @media (max-width: 664px) {
        font-size: 32px;
        line-height: 64px;
      }

      @media (max-height: 650px) {
        font-size: 32px;
        line-height: 32px;
      }
    }

    a {
      @media (max-width: 550px) {
        display: flex;
        justify-content: center;
      }
    }

    .highlight1 {
      color: var(--akzent1);
    }

    .button {
      width: 300.52px;
      height: 78px;
      left: 125px;
      top: 481px;
      color: #2dfcd8;
      background-color: #2dfcd900;
      border: 2px solid #2dfcd8;
      cursor: pointer !important;
    }
  }

  .home-right {
    .profil {
      width: 350px;
      height: 350px;
      border-radius: 100%;
      background-color: var(--akzent2);

      @media (max-width: 1065px) {
        width: 300px;
        height: 300px;
      }

      @media (min-height: 1150px) {
        margin-bottom: 150px;
      }

      @media (max-height: 650px) {
        width: 250px;
        height: 250px;
      }

      @media (max-width: 665px) {
        width: 250px;
        height: 250px;
      }
      @media (max-width: 280px) {
        width: 200px;
        height: 200px;
      }
    }
  }

  .contact-me {
    font-size: 16px;
  }

  .arrow-down {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 32px;
    width: 50px;
    cursor: pointer;
  }
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
  box-shadow: inset 20em 0 0 0 var(--hover);
  cursor: pointer;
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);

  &:hover,
  &:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
  }
}

$colors: (
  slide: #2dfcd8,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 0deg)};
  }
}

button {
  color: var(--color);
  transition: 0.25s;
  width: 250px;
  height: 78px;
  &:hover,
  &:focus {
    border-color: var(--hover);
    color: #fff;
  }
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.arrow {
  position: absolute;
  bottom: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
  transform: rotate(0deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}

.slide {
  @media (max-width: 897px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 665px) {
  .slide {
    margin-top: 100px;
  }
  @media (max-height: 750px) {
    .slide {
      margin-top: 50px;
    }
  }
}
