<div class="main-contain" id="home">
  <div class="inner-contain">
    <div class="home-left">
      <h1>
        Hi,
        <br />
        I´m <span class="highlight1"> Maik</span> Langer
        <br />
        Front End develop<span class="highlight1">e</span>r
      </h1>

      <a href="#contactMe">
        <button class="slide">
          <span class="contact-me">Contact me</span>
        </button></a
      >
    </div>
    <div class="home-right">
      <div class="img-contain">
        <img class="profil" src="./assets/img/ich-free2.png" alt="" />
      </div>
    </div>

    <div class="arrow">
      <a href="#skills" class="arrow-down">
        <span></span>
      </a>
    </div>
    <!-- <img src="/assets/img/arrows/arrow-down.png" alt=""
    /> -->
  </div>
</div>
